div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj681 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 768px;
height: 1024px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj681_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 768px;
	height: 1024px;
}
div#obj2026 {
position: absolute;
overflow: hidden;
top: 925px;
left: 660px;
width: 87px;
height: 74px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2026_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 87px;
	height: 74px;
}


button#obj697 {
	position: absolute;
overflow: hidden;
top: 668px;
left: 439px;
width: 212px;
height: 56px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.6078431));
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: rgba(255,183,0,0.827451);
	font-family:arial, helvetica, sans-serif;
	font-size: 24px;
	color: #000000; 
}
button#obj697:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }

div#obj685 {
position: absolute;
overflow: hidden;
top: 568px;
left: -59px;
width: 499px;
height: 576px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

div#obj685 .translated {
	position: absolute;
	top: 0px;
	left: 499px;
	width: 100%;
	height: 100%;
}









#obj683 {
    position: absolute;
overflow: hidden;
top: 77px;
left: 72px;
width: 622px;
height: 544px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: rgba(255,255,255,0.572549);
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.4196078));
will-change: filter;
-webkit-filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.4196078));
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 22px;
color: #000000;
padding: 0px;
}

#obj683.SCFillInTheGaps .toolbar {
    background-color: rgba(255,183,0,0.7333333);
}

#obj683 .wrapper {
    line-height: 1.3;
}

#obj683 .draggable {
    background-color: rgba(255,255,255,0.572549);
    box-shadow: 0px 0px 2px 2px #91AEC1;
}

#obj683 .draggable,
#obj683 .correct {
    margin: 0px 3px;
    padding: 0px 4px;
    border-radius: 3px;
}

#obj683.SCFillInTheGaps .drag-area,
#obj683.SCFillInTheGaps .drop-area {
  padding: 10px;
}

#obj683 .drag-area .draggable {
    margin: 5px 5px;
}

#obj683 .correct {
    background-color: rgba(255,183,0,0.6392157);
    box-shadow: 0px 0px 2px 2px #91AEC1;
}


#obj683 .results {
    background-color: #f6f6f6;
    border-radius: 20px;
    text-align: center;
}

#obj683 .results > div > div {
    font-size: 32px;
}

#obj683 .results .message {
    font-size: 28px;
}

#obj683 .results .close {
    border-radius: 32px;
    font-size: 18px;
    background-color: aquamarine;
    font-weight: 600;
}

#obj683 .btn-area {
    text-align: center;
}

#obj683 .check-btn {
    border-radius: 2px;
    font-size: 18px;
    background-color: aquamarine;
    font-weight: 600;
    display: inline-block;
}



body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
