div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj744 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 768px;
height: 1024px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj744_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 768px;
	height: 1024px;
}
div#obj747 {
position: absolute;
overflow: hidden;
top: 127px;
left: 502px;
width: 183px;
height: 184px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj747_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 183px;
	height: 184px;
}
div#obj750 {
position: absolute;
overflow: hidden;
top: 600px;
left: 23px;
width: 231px;
height: 155px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj750_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 231px;
	height: 155px;
}
div#obj753 {
position: absolute;
overflow: hidden;
top: 487px;
left: 480px;
width: 259px;
height: 181px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj753_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 259px;
	height: 181px;
}
div#obj756 {
position: absolute;
overflow: hidden;
top: 219px;
left: 37px;
width: 248px;
height: 172px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj756_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 248px;
	height: 172px;
}
div#obj759 {
position: absolute;
overflow: hidden;
top: 764px;
left: 576px;
width: 119px;
height: 156px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj759_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 119px;
	height: 156px;
}
div#obj762 {
position: absolute;
overflow: hidden;
top: 19px;
left: 25px;
width: 167px;
height: 153px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;
-webkit-transform: rotate(-19.21308deg);
-moz-transform: rotate(-19.21308deg);
transform: rotate(-19.21308deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj762_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 167px;
	height: 153px;
}


















body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
